.background-color{
    --ion-background-color:#ffffff;
}

ion-input{ 
    box-shadow: 0 0 10px #ff6263; 
    margin: 1px;
    width: 100px;
}

ion-list{
    box-shadow: 0 0 10px #ff6263; 
    margin: 17px;
    height: 45px;
}

.ion-margin-top{
    -webkit-text-fill-color: #000000;
}

.ion-margin-top-btn{
    -webkit-text-fill-color: #ffffff;
}
