<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        <b>Notificações</b>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content padding class="background-color">
    <h2 text-center class="ion-margin-top">Atenção !!</h2>
    <br>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="/assets/img/atencao.png">
        </ion-thumbnail>
        <h6><b>Curso de JavaScript - </b>Este certificado foi removido por não alguma invalidação. Por favor,
          procurar a coordenação!
        </h6>
      </ion-item>
      <br>
      <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/img/atencao.png">
          </ion-thumbnail>
          <h6><b>Curso de NodeJs - </b>Este certificado foi removido por não alguma invalidação. Por favor,
            procurar a coordenação!
          </h6>
        </ion-item>
        <br>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/img/atencao.png">
          </ion-thumbnail>
          <h6><b>Curso de PHP - </b>Este certificado foi removido por não alguma invalidação. Por favor,
            procurar a coordenação!
          </h6>
        </ion-item>
  </ion-content>
  