<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <b>Horas</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <ion-card>
      <ion-item>
        <ion-icon name="clock" slot="start"></ion-icon>
        <ion-card-header>
          <ion-card-subtitle><b>Horas Necessárias</b></ion-card-subtitle>
          <ion-card-title>200 horas</ion-card-title>
        </ion-card-header>
      </ion-item>
    </ion-card>
    
    <!--ion-card>
        <ion-item>
          <ion-icon name="clock" slot="start"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle><b>Horas Aproveitadas</b></ion-card-subtitle>
            <ion-card-title>192 horas</ion-card-title>
          </ion-card-header>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
          <ion-icon name="clock" slot="start"></ion-icon>
          <ion-card-header>
            <ion-card-subtitle><b>Horas Restantes</b></ion-card-subtitle>
            <ion-card-title>8 horas</ion-card-title>
          </ion-card-header>
        </ion-item>
      </ion-card-->

</ion-content>
